body {
    margin: 0;
    box-sizing: border-box;

    font-size: large;

}

.container {
    margin-top: -25px;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1.5fr 3fr;
    grid-template-rows: 20px 0.6fr 1fr 0.2fr;
    grid-template-areas: "nav nav nav nav"
        "main main main main"
        "profile profile section section"
        "footer footer footer footer";
    gap: 5px;

}

@media screen and (max-width: 320px) {
    .container {
        display: flex;
        flex-direction: column;



    }

}

nav {
    grid-area: nav;

}

ul {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

}

a {
    font-size: larger;
    text-decoration: none;
    color: blue;

}

li {
    padding-right: 1.5em;
    position: relative;

}

main {
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.C-lJoagtBtZQ2_hTCHq2mgHaE7&pid=Api&P=0);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0;
    padding-left: 20px;
    color: whitesmoke;
    text-align: center;
    grid-area: main;
}

/*added polygon shape using bennettfeely.com/clip/ */
img {
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    height: 300px;
    width: 300px;
    border-radius: 100%;

}


.profile {
    background-color: #A07855FF;
    padding-left: 30px;
    grid-area: profile;
}

.profile h2 {
    text-decoration: underline;
    text-shadow: 5px 0.2px whitesmoke;
    margin: 10px;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 5px 12px black;
}


.section {
    background-color: #D4B996FF;
    padding-left: 30px;
    grid-area: section;
    
}

.section h2 {
    background-color: #D4B996FF;
    text-align: center;
    text-shadow: 5px 0.2px whitesmoke;
    margin: 10px;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 5px 12px black;
}


footer {
    padding-left: 15px;
    text-align: center;
    margin-bottom: 60px;
    grid-area: footer;
    background-color: #D4B996FF;
}